{% extends 'portal_base.html' %}
{% from '_error_messages.html' import field_error_messages, error_messages %}
{% set active_tab = 'none' %}
{% block title %}Employee Log In{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>LOG IN</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.csrf_token }}
                        {{ error_messages(form.errors) }}
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class="form-control") }}
                        </div>
                        {{ field_error_messages(form.email) }}
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class="form-control") }}
                        </div>
                        {{ field_error_messages(form.password) }}
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}