{% extends 'portal_base.html' %}
{% set active_tab = 'manage_jobcodes' %}
{% from '_error_messages.html' import field_error_messages, error_messages %}

{% block title %}Manage Jobcodes{% endblock %}

{% block content %}
    <h1 class="text-center">Edit Jobcode: {{jobcode.code}}</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ error_messages(form.errors) }}
        <div class="form-group row justify-content-sm-center">
            {{ form.code.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-5">
                {{ form.code(class="form-control") }}
            </div>
        </div>
        {{ field_error_messages(form.code) }}
        <div class="form-group row justify-content-sm-center">
            {{ form.location.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-5">
                {{ form.location(class="form-control") }}
            </div>
        </div>
        {{ field_error_messages(form.location) }}
        <div class="form-group col-md-12 text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}